 <!-- <div class="maind">
     <div style="width: 50%; float:left">
       <img src="roadster-social.jpg" alt="Car"><img>
     </div> -->
 
 <!-- <div style="width:50%; float:right"> -->
     <div style="width: 40%">
       
        <table>
 <tr><td><br></td><td></td></tr>
 
 <tr><td>
           <label for="usr">Username&nbsp;&nbsp;</label> 	</td>
           <td><input type="text" class="form-control" id="usr" [(ngModel)]="username" (keypress)="keyPress($event)">
        </td></tr>
 <tr><td><br></td><td></td></tr>
 <br>
 <br>
       <tr>  <td>
           <label for="pwd">Password&nbsp;&nbsp;</label> </td>
        <td>   <input type="password" class="form-control" id="pwd" [(ngModel)]="password"> </td></tr>
         <tr><td><br></td><td></td></tr>
        
         <tr><td>  <label for="tid">Tenent ID&nbsp;&nbsp;</label></td>
        <td>   <input type="text" class="form-control" id="tid" [(ngModel)]="tid"> </td></tr>
         
 <tr><td><br></td><td></td></tr>
 
 
       <tr><td colspan=2>  <button type="button" class="btn btn-default btn-xl" font-color="white" (click)="login(username,password)">Login</button></td></tr>
         
      
      </table>
        </div>
  <!-- </div>  -->
<!-- </div> -->